REACT_APP_INFURA_ID=
REACT_APP_RPC_URL_137=

#Remember not to push your own `.env` in any commit!
#The "AIRTABLE" values for "APIKEY" will be specific to your Airtable user.
#RPC_URL is our Arbitrum Rinkeby node