:root {
  --brand-orange: rgb(250, 87, 56);
  --brand-orange-faded: rgba(250, 87, 56, 0.5);
  --brand-blackish: #1a1d1e;
  --brand-slate: #2b3538;
  --brand-whale: #526268;
  --brand-haze: #afbbbf;
  --brand-sky: #e4eef2;
  --brand-mist: #eff2f3;
  --brand-iris: #5D5FEF;
  --brand-violet: #291940;
  --brand-white: #f3f5f5;
  --brand-rose: #fc4f8f;
  --form-error: #fa5738;
  --brand-shadow: 3.6365px 8.23261px 42px rgba(82, 98, 104, 0.07),
    2.35699px 5.33595px 24.5972px rgba(82, 98, 104, 0.0531481),
    1.40072px 3.17108px 13.3778px rgba(82, 98, 104, 0.0425185),
    0.727299px 1.64652px 6.825px rgba(82, 98, 104, 0.035),
    0.296307px 0.670805px 3.42222px rgba(82, 98, 104, 0.0274815),
    0.0673425px 0.152456px 1.65278px rgba(82, 98, 104, 0.0168519);
}
